<html>
  <head>
    <title>Reports Page</title>
  </head>
  <style>
    .back-btn {
      border: gray 1px solid;
      padding: 10px;
      width: fit-content;
      color: blue;
      cursor: pointer;
      margin: 10px 5px;
    }
  </style>
  <body>
    <h1>Reports</h1>
    <div class="back-btn" onclick="history.back()">Back</div>
    <ul>
      <li><a href="/reports/top_manufacturer">Top 25 popular manufacturers</a></li>
      <li><a href="/reports/manu_model_search">Manufacturers/model search</a></li>
      <li><a href="/report/heating_cooling_details">Heating/cooling method details</a></li>
      <li><a href="#">Water heater statistics by state</a></li>
      <li><a href="/reports/off_grid">Off-the-grid household dashboard</a></li>
      <li><a href="/reports/search_by_radius">Household averages by radius</a></li>
    </ul>
  </body>
</html>