<html>
  <head>
    <title>Top 25 popular manufacturers</title>
  </head>
  <style>
    table, th, td {
      border:1px solid black;
    }

    th, td {
      padding: 5px;
      text-align: center;
    }

    .back-btn {
      border: gray 1px solid;
      padding: 10px;
      width: fit-content;
      color: blue;
      cursor: pointer;
      margin: 10px 5px;
    }
  </style>
  <body>
    <h1>Top 25 popular manufacturers</h1>
    <div class="back-btn" onclick="history.back()">Back</div>
    <table>
      <tr>
        <th>Name</th>
        <th>Count</th>
      </tr>
      {% for manu in data %}
          <tr>
            <td><a href="/reports/top_manufacturer/{{manu[0]}}">{{manu[1]}}</a></td>
            <td>{{manu[2]}}</td>
          </tr>
      {% endfor %}
    </table>
  </body>
</html>